[submodule "pentadactyl/colors/solarized"]
	path = pentadactyl/colors/solarized
	url = https://github.com/claytron/pentadactyl-solarized.git
[submodule ".vifm/colors"]
	path = .vifm/colors
	url = https://github.com/jubalh/vifm-colors.git
