[user]
    name = zarucki
    email = zarucki@gmail.com

[diff]
    tool = kdiff3

[merge]
    tool = kdiff3

[mergetool "kdiff3"]
    path = C:/Program Files (x86)/KDiff3/kdiff3.exe
    keepBackup = true
    trustExitCode = false

[core]
    editor = 'E:/Program Files (x86)/Vim/vim73/gvim.exe'
