[user]
	name = zarucki
	email = zarucki@gmail.com

[diff]
    tool = kdiff3

[merge]
    tool = kdiff3

[mergetool "kdiff3"]
    path = C:/Program Files (x86)/KDiff3/kdiff3.exe
    keepBackup = true
    trustExitCode = false

[core]
    editor = 'E:/Program Files (x86)/Vim/vim73/gvim.exe'
	autocrlf = true

[alias]
    aa = add -A
    br = branch
    cm = commit
    co = checkout
    cp = cherry-pick
    df = diff
    dfc = diff --cached
    fe = fetch
    me = merge
    st = status -sb
    amend = commit --amend --no-edit

    puff = pull --ff-only
    purr = pull --rebase

    ours = checkout --ours
    theirs = checkout --theirs
    unstage = reset HEAD
    undo-commit = reset --soft HEAD^
    ready = rebase -i @{u}

    l = log --graph --all --format=format:'%C(bold yellow)%h%C(reset)\
        - %C(bold green)(%ar)%C(reset) %C(bold red)%d%C(reset)\
        %C(white)%s%C(reset)'\
        --abbrev-commit --date=relative

[color]
    ui = true
